body{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: teal;
    color : #d45252;
    margin-right: auto;
    margin-left : auto;
    font-size:200%;
  }
